<div class="main_container">
  <div class="information">
    <h2>スケジュール一覧</h2>
  </div>


  <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>

  <% if flash[:delete] %>
    <p class="alert delete"><%= flash[:delete] %></p>
  <% end %>

    <table>
      <thead>
        <tr>
    　　　<th>ID</th>
    　　　<th>タイトル</th>
    　　　<th>開始日</th>
    　　　<th>終了日</th>
    　　　<th>終日</th>
    　　　<th>スケジュール更新日時</th>
    　　　<th>確認</th>
    　　　<th>編集</th>
    　　　<th>削除</th>
      </tr>
    </thead>
 
      <tbody>
        <% @schedules.each do |schedule| %>
          <tr>
            <td><%= schedule.id %></td>
            <td><%= schedule.title %></td>
            <td><%= schedule.start_day.strftime('%Y年%m月%d日') %></td>
            <td><%= schedule.end_day.strftime('%Y年%m月%d日') %></td>
            <td>
              <% if schedule.all_day == true %>
              ○
              <% else schedule .all_day == false %>
              <% end %>
            </td>
            <td><%= schedule.updated_at.strftime('%Y年%m月%d日 %H時%M分') %></td>
             <td> <%= link_to "参照", schedule %></td>
             <td><%= link_to "編集", [:edit, schedule] %> </td>
             <td><%= link_to "削除", schedule, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
 
    <p><%= link_to "スケジュール新規登録", new_schedule_path %></p>
</div>