<div class="main_container">
  <div class="information">
    <h2>スケジュール詳細</h2>
  </div>
 
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @schedule.title %></td>
      </tr>
      <tr>
        <th>開始日</th>
        <td><%= @schedule.start_day %></td>
      </tr>
      <tr>
        <th>投稿日時</th>
        <td><%= @schedule.end_day %></td>
      </tr>
      <tr>
        <th>終日</th>
        <td>
         <% if @schedule.all_day == true %>
          ○
         <% else @schedule.all_day == false %>
         <% end %>
        </td>
      </tr>
      <tr>
        <th>スケジュールメモ</th>
        <td><%= @schedule.memo %></td>
      </tr>
    </table>
 
    <div>
      <ul>
        <li><%= link_to "スケジュール一覧に戻る", schedules_path %></li>
        <li><%= link_to "スケジュールを編集する", [:edit, @schedule] %> </li>
        <li><%= link_to "スケジュールを削除", schedule_path, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
      </ul>
    </div>
</div>